/* Body styles */


body {
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
    font-size: 14px;
    margin: 0% 11%;
}

/* Main content styles */
#mainSection{
    margin-left: 1.5em;
    column-count: 2;
    column-gap: 3em;
    margin-bottom: 1em;
}

#titleH1{
    margin-bottom: .55em;
    margin-top: .8em;
    font-size: 3rem;
    color: #FCC737;
}

.title{
    color: #FCC737;
}

article{
    break-inside: avoid;
}

#submitButton:hover {
    background-color: #a0780b;
}


button:hover{
    background-color: rgba(26, 67, 112, .9);
    cursor: pointer;
}

#alinks{
    margin-left: 2.5em;
}

.links {
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-weight: bold;
}

.links:hover {
    cursor: pointer;
    color: #FCC737;
}

/* Article Style */
#art2 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* One column by default */
    grid-gap: 1em;
    margin-top: 3.5em;
}

#art1p{
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 1em;
}

#art3 {
    width: 80%;
    margin-left: 5rem;
}

#art4 {
    margin-top: 1.5rem;
    padding: 0 5rem 0 5rem;
}

.artSection{
    display: flex;
    flex-direction: column;
    text-align: center;
    break-inside: avoid;
}

.artSection img{
    display: block;
}

/* Footer styles */
footer {
    font-weight: 550;
    color: white;
    text-align: center;
    padding: 2em 0em;
}

footer a {
    color: white;
    text-decoration: none;
}

footer p{
    margin-top: .4rem;
    margin-bottom: .2rem;
}

/* Media Queries for Responsive Design */

/* For tablets and small desktops */
@media screen and (max-width: 1024px) {
    body {
        margin: 0% 5%;
    }

    #mainSection {
        column-count: 1;
        margin-left: 0;
    }

    #titleH1 {
        font-size: 2.5rem;
    }

    #art2 {
        grid-template-columns: 1fr 1fr; /* Keep two columns for tablets */
    }
}

/* For mobile phones */
@media screen and (max-width: 768px) {
    body {
        margin: 0% 3%;
    }

    #titleH1 {
        margin-top: 0;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1em;
    }

    #art1p {
        text-align: center;
        font-size: 1.2em;
    }

    #art2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 2em;
    }

    .artSection {
        width: 48%; /* Adjust this value to control the gap between sections */
        margin-bottom: 1.5em;
        font-size: 1.8vh;
    }

    #art3, #art4 {
        width: 100%;
        margin-left: 0;
        padding: 0;
    }

}

/* For very small mobile devices */
@media screen and (max-width: 480px) {
    #titleH1 {
        font-size: 1.8rem;
    }

    #art1p {
        font-size: 1em;
    }

    .links {
        font-size: 0.9em;
    }

    .artSection {
        width: 100%; /* Full width for very small devices */
    }
    
}